<div class="span6 offset5" id="profile">
	<div id="profile-head">
		<div id="title">
			<h1>Richard J Lo</h1>
		</div>
		<div id="subtitle">
			<h2>Behavior Designer, Entrepreneur</h2> 
		</div>
	</div>		
	<div id="profile-content"></div>
		<div id="profile-internal">
			<%= link_to "projects /", projects_path %>
			<%= link_to "resume /", resume_path %>
			<%= link_to "contact", contact_path %>
		</div>
		<div id="profile-external">
			<%= link_to "tweets", "http://twitter.com/richardjlo" , :target => "_blank"%>, 
			<%= link_to "blog", "http://blog.richardjlo.com/" , :target => "_blank"%>, 
			<%= link_to "linkedin", "http://www.linkedin.com/in/richardjlo" , :target => "_blank"%>
		</div>
</div>

