@import "bootstrap";

/* General */

body {
	background-image: url(/assets/retina_wood.png);


	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif"; 		
	padding:100px;
	h1, h2, h3 { 
		font-weight:100;
		color: #373737;		
	}
	background-color:lightgrey;
	
	p {
		font-size:14px;

	}
	
}

.clear {
	clear:both;
}

.h-line {
	border-bottom:1px solid #666;	
	
}

.italic { 
	font-style:italic;
	font-weight:300;
	}


/* Home page */

#profile {
	margin-top:25%;	
	#profile-head {		
		#title {
			h1 {				
				font-size: 72px;				
			}			
		}
		#subtitle {
			margin-top: 20px;
			h2 {				
				font-size: 24px;
				font-style: italic;				
			}
		}
	}
}

/* Projects, Contact */

.banner {
	margin-top:30%;
	h1, h2 {
		
		color: #373737;		
	}

	h1 { font-size: 72px; }

	h2 { font-size: 50px; }

	#line1 { margin-bottom:40px; }
}


/* Resume */

.resume-container {	
	border:1px solid #666;
	border-top: 10px solid #666;	
	background-color:rgba(255,255,255,0.4);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif"; 		
	h2 {
		font-size:18px;
		line-height: 26px;		
	}

	h3 {
		font-size:14px;
		line-height: 20px;
	}

	#download {
		float: right;
		margin-right: 10px;	
		padding: 10px 10px 10px 10px;
		background-color: rgba(255,255,255,.6);
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		color:#999;	
		font-family: "Helvetica Neue"; 		
		font-weight:300;

		&:hover {
			background-color:white;					
			text-decoration: none;		
		}
	}


	.resume-inner {
		float: none;
		margin: 0 auto;

		.resume-header {
			.name {
				width: 250px;
				float:left;
				h1 {
					font-size:40px;
				}			
			}
			.contact {
				font-size:16px;
				font-weight:200;
				width:250px;
				float:right;

			}
		}

		.category {			
			

			.category-title {
				width:20%;	
				float:left;		
				margin-top:20px;		
			}

			.category-content {
				width:78%;				
				float:left;				
				margin-bottom:20px;

				.section {
					margin-top:20px;
					margin-bottom:20px;
				}

				.position {					
					float: left;
					
				}

				.last {
					margin-bottom:50px;
				}

				.city {
					width:270px;
					float: right;					
					text-align: right;
					
				}

				.details {
					ul {
						list-style: none;
						margin:0px;
					}
					
				}
			}
		}

		.footer-contact {
			text-align: center;
			margin-top:20px;
			margin-bottom:100px;
		}
	}


}
