<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">    	
        <div class="container">            
        	<%= link_to "Richard J Lo", root_path, class: "brand" %>
        	<div class="nav-collapse collapse">
    			<ul class="nav">                                                  
    			    <li class="<%= active_class(yield(:title), "Projects") %>"><%= link_to "Projects", projects_path %></li>
    			    <li class="<%= active_class(yield(:title), "Resume") %>"><%= link_to "Resume", resume_path %></li>
    			    <li class="<%= active_class(yield(:title), "Contact") %>"><%= link_to "Get in Touch", contact_path %></li>
    			</ul>                    
          </div>
        </div>
    </div>
</div>